<!DOCTYPE html>
<html>
<head>
	<title>Online bookshop</title>
	<link rel="stylesheet" type="text/css" href="/assets/index.css">
		<meta charset="UTF-8">
		<meta name="description" content="books">
		<meta name="keywords" content="books, literature,buy">
		<meta name="author" content="Olga Kravchuk">
</head>

<body>
<header class = "myHeader">Books<br>
	<h4><%= user %>
	<a href="/" class = "lnk">Main</a>
	<a href="/login" class = "lnk">Log in</a>
	<a href="/catalog" class = "lnk">Catalog</a>
	<a href="/buy" class = "lnk">My orders</a>
</header>
<p>Admin page</p>
<table class="comicGreen">
	<tr> 
		 <th>Name </th> 
		 <th>Price </th> 
		 <th>Description </th>
		 <th>Photo </th>
		 <th>Changes</th>
	</tr>
	<% for(var i = 0;i< tovar.length;++i){ %>
		<tr> <td><%= tovar[i].name %></td>
			<td><%= tovar[i].price %> 				
			</td>
			<td><%= tovar[i].description %></td>
			<td> <img src = <%= "/assets/"+tovar[i].img %> class = "picture"></td>
			<td>  <a href = <%= "/buy?action=remove&id="+tovar[i].id %> class = "button">Remove</a>
				  <a href = <%= "/buy?action=change&id="+tovar[i].id %> class = "button">Change</a>
			</td>
			</tr>
	<% } %>
</table>
<footer class = "Footer" style="bottom:0px">by Olya Olga</footer>
</body>
</html>
