<!DOCTYPE html>
<html>
<head>
	<title>Online bookshop</title>
	<link rel="stylesheet" type="text/css" href="/assets/index.css">
		<meta charset="UTF-8">
		<meta name="description" content="books">
		<meta name="keywords" content="books, literature,buy">
		<meta name="author" content="Olga Kravchuk">
</head>

<body>
<header class = "myHeader">Books<br>
	<h4><%= user %>
	<a href="/" class = "lnk">Main</a>
	<a href="/login" class = "lnk">Log in</a>
	<a href="/catalog" class = "lnk">Catalog</a>
	<a href="/buy" class = "lnk">My orders</a>
</header>
<div class="AdminInput">
<p>Edit current item here<p/>
<form action="/change" method="post">
		<h3>Name</h3>
		<input class = "AdminInput" name = "ChangedName" value="<%= rowResult.name %>"/>
		<h3>Price</h3>
		<input class = "AdminInput" name = "ChangedPrice" value="<%= rowResult.price %>"/>
		<h3>Photo</h3>
		<input class = "AdminInput" name = "ChangedPhoto" value="<%= rowResult.img %>"/>		
		<h3>Description</h3>
		<input class = "AdminInput" name = "ChangedDescription" style="height:200px" value="<%= rowResult.description %>"/>
		<button class = "button">Apply changes</button>
	</form>
<div/>
<footer class = "Footer" style="bottom:0px">by Olya Olga</footer>
</body>
</html>
